@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  /* color:#ecedee; */
  color:white;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 4px;
}