@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  /* color:#ecedee; */
  color:white;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 4px;
}

/* table */
th{
  text-align: left;
    /* padding:10px 20px; */
}
td{
  /* padding:20px 20px; */
}
